/**/
body {
  background-color: rgb(0, 60, 255);
}
h1 {
  background-color: pink;
}

label {
  display: block;
  float: left;
  text-align: right;
  width: 20%;
}

input {
  width: 75%;
}

#button {
  text-align: center;
}

.btn {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 13pt;
  height: 4ex;
  width: 5em;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  background-color:red;
}
.btn1 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 13pt;
  height: 4ex;
  width: 5em;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  background-color:white;
}
.btn2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 13pt;
  height: 4ex;
  width: 5em;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  background-color: orange;
}
.btn3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 13pt;
  height: 4ex;
  width: 5em;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  background-color:rgba(168, 8, 168, 0.795);
}
.btn4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 13pt;
  height: 4ex;
  width: 5em;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  background-color: yellow;
}



#message {
  border-style: solid;
  border-color:white;
}

table {
  border-collapse: collapse;
}

th, td {
  border: solid;
}

td.num {
  text-align: center;
}
